<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Kindle's Google reader</title>
    <meta name="description" content="Kindlereader is a service for Amazon Kindle owners that lets you aggregate your Google reader's feeds and have them delivered to your Kindle in a convenient, easy-to-navigate format." />
    <meta name="keywords" content="ipad, feed2mobi,rss to mobi,epub,kindle,kindle 2, kindle 3,rss reader for kindle,mobi电子书,kindle dx,rss, e-ink,电子书,kindle看新闻,Sony Reader, B&amp;N Nook, ebook reader,googl reader" />
    <meta name="google-site-verification" content="VHC_8PT5eirjRAav8ZakLAjw1jEtFuxp6on_FJ7_2WM" />
    <link rel="stylesheet" href="/static/main.css?v3" type="text/css" />
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png" /> 
    {% if not kindle%}
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.4.min.js" type="text/javascript"></script>
    <script>!window.jQuery && document.write('<script src="/static/jquery-1.4.4.min.js"><\/script>')</script>
    {% end %}
    {% block analytics %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3020863-9']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {% end %}
</head>
<body>
    <div id="header">
        {% block head %}
        <h1><a href="/">Kindlereader</a><sup>beta</sup></h1>
        
        {% if nickname %}
        <a class="nav" href="{{ logout_url }}">{{ l10n.logout }}</a>
        <span style="color: #ccc;">&bull;</span>
        
        <span>Hello, <strong>{{ nickname }}.</strong></span>
        {% end %}
        <div class="clear"></div>
        {% end %}
    </div>
    
    <div style="font-size: 14px; margin-top: 8px;"> 
    更好的Kindle阅读Google reader体验 <a href="https://github.com/jiedan/kindlereader" rel="external">开源</a>
    </div>
    
    <div id="content">
    {% block body %}{% end %}
    </div>
    
    <div id="footer">
    {% block footer %}{% end %}
    </div>
{% block bottom %}{% end %}
</body>
</html>