{% extends "reader_base.html" %}

{% block body %}
<a href="/"><div style='background-color:#FFF;'><div class='menubar'>{% if kindle == 3 %}<font class='hotkey'><sup>{ <u>a</u> }</sup></font>{% end %}{退出}</div></div></a>
<a href="/reader/view/user/-/state/com.google/reading-list"><div style='background-color:#DDD;'><div class='menubar'>{% if  kindle == 3 %}<font class='hotkey'><sup>{ <u>b</u> }</sup></font>{% end %}{所有未读条目}</div></div></a>
<a href="/reader/view/user/-/state/com.google/starred"><div style='background-color:#FFF;'><div class='menubar'>{% if kindle == 3 %}<font class='hotkey'><sup>{ <u>c</u> }</sup></font>{% end %}{已加星标的条目}</div></div></a>
{% set index = 3 %}

{% if categories %}
{% for c in categories %}
{% if c.id != 'uncategorized' %}
<a href="/reader/label/{{ url_escape(c.id) }}"><div style='background-color:#{% if index%2 %}DDD;{% else %}FFF{% end %};'><div class='{% if c.unread > 0 %}menubar{% else %}menubarRead{% end %}'>{% if kindle == 3 %}<font class='hotkey'><sup>{ <u>{{ hotkeys[index] }}</u> }</sup></font>{% end %}{{ c.label }}{% if c.unread > 0 %}({{c.unread}}){% end %}</div></div></a>
{% set index += 1%}
{% end %}
{% end %}
{% end %}

{% if feeds %}
{% for f in feeds %}
<a href="/reader/view/{{ url_escape(f.id) }}"><div style='background-color:#{% if index%2 %}DDD;{% else %}FFF{% end %};'><div class='{% if f.unread > 0 %}menubar{% else %}menubarRead{% end %}'>{% if kindle == 3 %}<font class='hotkey'><sup>{ <u>{{ hotkeys[index] }}</u> }</sup></font>{% end %}{{ f.title }}{% if f.unread > 0 %}({{f.unread}}){% end %}</div></div></a>
{% set index += 1%}
{% end %}
{% end %}

{% end %}

{% block head %}

{% if kindle == 3 %}

var lastPressedKey;
var pressedKey;
var keyhits = 0;
function keyHandler(e) {
lastPressedKey = pressedKey;
if (document.all) { e = window.event; pressedKey = e.keyCode; }
if (document.layers || e.which) { pressedKey = e.which; }
if (!pressedKey) { return false; }
keyhits++;
setTimeout("checkKey()",750);
}
function checkKey() {
url = '';
if (keyhits == 1 && pressedKey == 97) { url = '/'; }
if (keyhits == 1 && pressedKey == 98) { url = "/reader/view/user/-/state/com.google/reading-list"; }
if (keyhits == 1 && pressedKey == 99) { url = "/reader/view/user/-/state/com.google/starred"; }
{% set start_key = 100 %}
{% if categories %}
{% for c in categories %}
{% if start_key - 97 < 26  %}
if (keyhits == 1 && pressedKey == {{ start_key }}) { url = '/reader/label/{{ url_escape(c.id) }}'; }
{% end %}
{% set start_key += 1 %}
{% end %}
{% end %}

{% if feeds %}
{% for f in feeds %}
{% if start_key - 97 < 26  %}
if (keyhits == 1 && pressedKey == {{ start_key }}) { url = '/reader/view/{{ url_escape(f.id) }}'; }
{% end %}
{% set start_key += 1 %}
{% end %}

{% end %}

if (url != '') {
document.location = url;
}
}
document.onkeypress = keyHandler;

{% end %}

{% end %}